// SPDX-License-Identifier: GPL-2.0-only
#include <dt-bindings/sound/qcom,q6afe.h>
#include <dt-bindings/sound/qcom,q6asm.h>
#include <dt-bindings/sound/qcom,q6voice.h>

&apr {
	status = "okay";
};

&lpass {
	status = "disabled";
};

&mpss {
	status = "okay";
};

&mpss_mem {
	status = "okay";
};

&q6cvp {
	status = "okay";
};

&q6cvs {
	status = "okay";
};

&q6mvm {
	status = "okay";
};

&sound {
	compatible = "qcom,msm8916-qdsp6-sndcard";

	/*
	 * FIXME: qcom,audio-routing is deprecated but we use it additionally
	 * to "audio-routing" so we don't have to copy this
	 * to every device-specific device tree...
	 */
	qcom,audio-routing =
		"MM_DL1", "MultiMedia1 Playback",
		"MM_DL3", "MultiMedia3 Playback",
		"MM_DL4", "MultiMedia4 Playback",
		"MultiMedia2 Capture", "MM_UL2";

	dai-link-multimedia1 {
		link-name = "MultiMedia1";
		cpu {
			sound-dai = <&q6asmdai MSM_FRONTEND_DAI_MULTIMEDIA1>;
		};
	};

	dai-link-multimedia2 {
		link-name = "MultiMedia2";
		cpu {
			sound-dai = <&q6asmdai MSM_FRONTEND_DAI_MULTIMEDIA2>;
		};
	};

	dai-link-multimedia3 {
		link-name = "MultiMedia3";
		cpu {
			sound-dai = <&q6asmdai MSM_FRONTEND_DAI_MULTIMEDIA3>;
		};
	};

	dai-link-multimedia4 {
		link-name = "MultiMedia4";
		cpu {
			sound-dai = <&q6asmdai MSM_FRONTEND_DAI_MULTIMEDIA4>;
		};
	};

	dai-link-cs-voice {
		link-name = "CS-Voice";
		cpu {
			sound-dai = <&q6voicedai CS_VOICE>;
		};
	};
};
